*{
    margin: 0px;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
a{
    text-decoration: none;
}
header{
    display: flex;
}
.backgroundimage{
    background-image: url(netflix_backround.jpg);
    height: 540px;
    width: 100%;
    background-size: cover;
    background-image: radial-gradient(transparent 5%, black),url(netflix_backround.jpg);
    background-image: radial-gradient(center transparent 5%, black),url(netflix_backround.jpg);
}
.navbar{
    display: flex;
}
img{
    height: 100px;
    width: 150px;
    margin-left: 100%;
}
#lang{
    background-color: rgba(46, 44, 44, 0.888);
    color: white;
    font-size: 0.9rem;
    height: 30px;
    width: 100px;
    border-radius: 3px;
    margin-top: 30px; 
    margin-left: 10pxpx;
    margin-bottom: 80px;

}
#one{
    height: 30px;
    margin-top: 34.5px;
    margin-left: 725px;
}
button{
    background-color: rgba(184, 0, 0);
    color: white;
    font-size: 0.9rem;
    border-radius: 3px;
    margin-left: 10px;
    border: none;
    margin-top: 30px;
    height: 30px;
    width: 60px;
}
.headcontent{
    display: block;
}
h1{
    height: 100px;
    width: 500px;
    color: white;
    text-align: center;
    margin-left: 30%;
    font-weight: 900;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3{
    color: white;
    margin-top: 25px;
    font-weight: 900;
    justify-self: center;
}
h4{
    margin-top: 40px;
    justify-self: center;
    color: white;
    font-weight: 600;
}
#email{
    height: 60px;
    width: 400px;
    background-color: rgba(73, 72, 72, 0.769);
    color: white;
    border: none;
    border-radius: 3px;
    justify-self: center;
    margin-left: 25%;
}
#but{
    margin-top: 20px;
    height: 60px;
    width: 200px;
    background-color: rgba(184, 0, 0);
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 1.2rem;
    justify-self: center;
}
button:hover{
    background-color: rgb(210, 0, 0);
    transition-duration: 0.5s;
}
#but:hover{
    background-color: rgb(210, 0, 0);
    transition-duration: 0.5s;
}
/* End of the headear content now beggining main content */
main{
    border-top: 2px solid red;
    background-color: black;
    width: 100%;
    height: 500px;
    color: white;
    gap: 0.8rem;
    display: inline-block;
    margin-bottom: 0;
}
.box1{
    height: 250px;
    width: 180px;
    background-image: url(dhurandhar.jpg);
    background-size: cover;
    margin-left: 12%;
    border-radius: 5px;
    margin-top: 2%;
    position: relative;
}
.h2{
    margin-left: 10%;
    font-weight: 700;
    margin-top: 7%;
}
.one{
    font-size: 100px;
    color: white;
    padding: 0.5px;
    margin-right:40%;
    position: absolute;
    z-index: 10;
    transform: translate(-55%);
    margin-top: 80%;
}
.box:hover{
     transform: scale(1.05);
     transform-origin: center;
     transition-duration: 0.3s;
}
.box2{
    height: 250px;
    width: 180px;
    background-image: url(peaky.jpg);
    background-size: cover;
    margin-left: 12%;
    border-radius: 5px;
    margin-top: 2%;
    position: relative;
}
.two{
    font-size: 100px;
    color: white;
    padding: 0.5px;
    margin-right:40%;
    position: absolute;
    z-index: 10;
    transform: translate(-55%);
    margin-top: 80%;
}
.box3{
    height: 250px;
    width: 180px;
    background-image: url(365_Days_This_Day_poster.png);
    background-size: cover;
    margin-left: 12%;
    border-radius: 5px;
    margin-top: 2%;
    position: relative;
}
.three{
    font-size: 100px;
    color: white;
    padding: 0.5px;
    margin-right:40%;
    position: absolute;
    z-index: 10;
    transform: translate(-55%);
    margin-top: 80%;
}
.box{
    float: left;
}
.reason{
    margin-left: 10%;
    font-weight: 700;
}
footer{
    background-color: black;
    color: white;
    height: 1500px;
    margin-top: 0;
    padding-top: 0;
    width: 100%;
    border-top: 2px solid black;
}
.more{
    display: flex;
    margin-left: 10%;
    margin-right: 2%;
}
.Tv{
    background-color: rgba(10, 10, 71, 0.897);
    height: 280px;
    width: 210px;
    border: none;
    border-radius: 7px;
    margin-top: 2%;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    text-align: left;
    margin-right: 2%;
}
p{
    padding-top: 40px;
    padding-left: 9px;
}
.fa-tv{
    padding-top: 70px;
    font-size: xx-large;
    padding-left: 60%;
}
.child{
    background-color: rgba(10, 10, 71, 0.897);
    height: 280px;
    width: 210px;
    border: none;
    border-radius: 7px;
    margin-top: 2%;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    text-align: left;
    margin-right: 2%;
}
.watch{
    background-color: rgba(10, 10, 71, 0.897);
    height: 280px;
    width: 210px;
    border: none;
    border-radius: 7px;
    margin-top: 2%;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    text-align: left;
    margin-right: 2%;
}.download{
    background-color: rgba(10, 10, 71, 0.897);
    height: 280px;
    width: 210px;
    border: none;
    border-radius: 7px;
    margin-top: 2%;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    text-align: left;
    margin-right: 2%;
}
.fa-dice{
    padding-top: 25px;
    font-size: xx-large;
    padding-left: 65%;
}
.fa-champagne-glasses{
    padding-top: 70px;
    font-size: xx-large;
    padding-left: 60%;
}
.fa-arrow-down{
    padding-top: 40px;
    font-size: xx-large;
    padding-left: 65%;
}
#h{
    padding-left: 20px;
}
.questions{
    margin-left: 10%;
    font-weight: 700;
    color: white;
    margin-top: 100px;
}
.a1{
    height: 60px;
    width: 80%;
    border: none;
    background-color: rgba(57, 56, 56, 0.9);
    align-items: center;
    font-size: 2rem;
    padding-left: 20px;
    padding-top: 25px;
    margin-bottom: 5px;
    margin-top: 12px;
}
.a1:hover{
    background-color: rgb(29, 29, 29);
    transition-duration: 0.2s;
}
.h5{
    margin-top: 80px;
    text-align: center;
}
.h6{
    width: 200px;
    margin-top: 100px;
    font-size: 1rem;
    margin-left: 100px;
}
#under{
    text-decoration: underline;
    margin-left: 100px;
    font-size: 1rem;
}
.h7{
    width: 100px;
    margin-top: 50px;
    font-size: 1rem;
    margin-left: 100px;
}
.h8{
    width: 450px;
    margin-top: 50px;
    font-size: 0.8rem;
    margin-left: 100px;
}
/* not an exact clone as higher CSS and java is required */